:root { 
--gray_600:#7e7e7e; 
--gray_400:#afabb0; 
--gray_600_01:#6b6b6b; 
--gray_800:#494949; 
--blue_500:#1d9bf0; 
--gray_900:#141414; 
--gray_800_01:#3b3b3b; 
--light_blue_800:#0076b2; 
--black_900:#000000; 
--red_A700_01:#e90707; 
--white_A700:#ffffff; 
--red_A700:#ff0000; 
--indigo_600:#3d5a98; 
}